.product-table {
  width: 100%;
  border-collapse: collapse; /* Para que las celdas no tengan doble borde */
  margin-top: 20px;
}

.product-table th,
.product-table td {
  border: none;
  padding: 10px 15px;
  text-align: left;
}


.product-table th {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;

}

.product-table th:first-child {
    border-radius: 10px 0 0 0;
}

.product-table th:nth-child(5) {
    border-radius: 0 10px 0 0;
}

.product-table tbody {
    border-top: var(--mat-sys-primary) solid 3px;
}

.product-table tbody tr {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--mat-sys-primary);
}


.product-table tbody tr:nth-child(even) {
  background-color: var(--background-color); /* Color de fondo para filas pares */
}

.product-table tbody tr:hover {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);

}

.product-table tbody tr:hover .status-inactive{
    color: var(--mat-sys-on-primary);

}

.product-table tbody tr:hover .status-active{
    color: var(--mat-sys-on-primary);

}


.status-active {
    color: var(--mat-sys-on-background);
    font-weight: bold;
}

.status-inactive {
    color: var(--mat-sys-on-background);
    font-weight: bold;
}

.error-message {
    color: var(--mat-sys-on-error);
    background-color: var(--mat-sys-error);
    /*border: 1px solid #d8000c;*/
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.loading-message, .info-message {
  text-align: center;
  color: var(--mat-sys-primary);
  padding: 20px;
  font-style: italic;
    background-color: var(--background-color);
    border-radius: 15px;
}

.hide-on-desktop{
    display: none;
}

@media (max-width: 576px) {
    .hide-on-mobile{
        display: none;
    }

    .hide-on-desktop{
        display: block;
    }

    .product-table tbody tr {
        cursor: pointer;
    }

    .product-table th:nth-child(2) {
        border-radius: 10px 0 0 0;
    }

    .product-table th:last-child {
        border-radius: 0 10px 0 0;
    }


    .detailsRow {
        background-color: lightgrey;
        cursor: default;
    }

    .detailsRow p {
        color: var(--mat-sys-primary);
    }

    .product-table tbody tr.detailsRow:hover {
        background-color: lightgrey;

    }

}
