<div *ngIf="productList$ | async as productList; else loadingOrNotProducts">
  <div *ngIf="productList && productList.length > 0; else noProductsFound">

    <table class="product-table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Categoria</th>
          <th scope="col" class="hide-on-mobile">Estado</th>
          <th scope="col" class="hide-on-desktop">Info</th>
        </tr>
      </thead>
        <tbody>
        <ng-container *ngFor="let product of productList">
          <tr (click)="toggleDetails(product)" [class.expanded]="product.isExpanded">
            <td>{{ product.nombre }}</td>
            <td>{{ product.categoria }}</td>
            @if (product.activo) {
             <td class="status-active hide-on-mobile">Activo</td>
            } @else {
              <td class="status-inactive hide-on-mobile">Inactivo</td>
            }
              <td class="hide-on-desktop"><mat-icon>{{product.isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon></td>
          </tr>
            <tr *ngIf="product.isExpanded">
                <td colspan="4" class="detailsRow">
                    <div>
                        <p><strong>Estado:</strong> {{product.activo ? 'Activo' : 'Inactivo'}}</p>
                    </div>

                </td>

            </tr>
        </ng-container>
        </tbody>
    </table>
  </div>

</div>
  <ng-template #noProductsFound>
    <p class="info-message">No se encontraron productos en el sistema</p>
  </ng-template>

<ng-template #loadingOrNotProducts>
  <p class="loading-message">Cargando productos. Por favor espere!</p>
</ng-template>
