<mat-sidenav-container class="sidenavContainer">
  <mat-sidenav class="sidenav" #sidenav [(opened)]="opened">

      <ul class="ulContainer">
          <mat-icon (click)="sidenav.toggle()">close</mat-icon>
      <ul class="ulTitle"><a [routerLink]="['/dashboard']" >Inicio</a></ul>
      <ul class="ulTitle">Clientes
        <li><a [routerLink]="['/dashboard/cliente/listar']" routerLinkActive="active">Listar</a></li>
        <li><a [routerLink]="['/dashboard/cliente/registrar']" routerLinkActive="active">Registrar</a></li>
        <li><a [routerLink]="['/dashboard/cliente/actualizar']" routerLinkActive="active">Actualizar</a></li>
      </ul>

      <ul class="ulTitle">Productos
        <li><a [routerLink]="['/dashboard/producto/listar']" routerLinkActive="active">Listar</a></li>
        <li><a [routerLink]="['/dashboard/producto/registrar']" routerLinkActive="active">Registrar</a></li>
        <li><a [routerLink]="['/dashboard/producto/actualizar']" routerLinkActive="active">Actualizar</a></li>
      </ul>

      <ul class="ulTitle">Pedidos
        <li><a [routerLink]="['/dashboard/pedidos/listar']" routerLinkActive="active">Listar</a></li>
          <li><a [routerLink]="['/dashboard/pedidos/registrar']" routerLinkActive="active">Registrar</a></li>
        <li><a [routerLink]="['/dashboard/pedidos/generar']" routerLinkActive="active">Generar</a></li>
      </ul>
    <ul class="ulTitle"><a [routerLink]="['/login']" (click)="logout()">Salir</a></ul>
    </ul>

  </mat-sidenav>

  <mat-sidenav-content class="sidenavContent">
    <div class="contentNavbar">
    <button mat-button (click)="sidenav.toggle()" aria-label="button with a menu icon">
      <mat-icon>menu</mat-icon>Menu</button>

    <app-navbar></app-navbar>
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
