.sidenavContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--mat-sys-primary);
}

.sidenav {
  text-align: start;
  padding: 20px;
    width: 17.5%;
}


.contentNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #074a09;
    width: 100vw;
    align-items: center;
}

.ulTitle{
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  color: var(--mat-sys-primary);
}

li{
  font-size: medium;
  margin-left: 15px;
  font-weight: normal;
  padding: 5px;
}

a{
  text-decoration: none;
  padding: 5px;
  color: var(--mat-sys-primary);
}

a:hover{
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--mat-sys-primary);
  border-radius: 5px;
  padding: 5px;
}

.mat-mdc-button:not(:disabled){
    background-color: var(--mat-sys-primary);
    color: whitesmoke;
    font-size: 1rem;
}

