.sidenavContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
}

mat-sidenav.sidenav {
    text-align: start;
    background-color: var(--mat-sys-secondary);
    }

ul.ulContainer{
    margin-top: 20px;
}

ul.ulContainer mat-icon{
    position: relative;
    left: 119px;
    top: -14px;
    cursor: pointer;
    color: var(--mat-sys-on-tertiary);
    padding:5px;
}

ul.ulContainer mat-icon:hover{
    background-color: var(--mat-sys-on-primary);
    color: var(--mat-sys-primary);
    border-radius: 100%;
}

.contentNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--mat-sys-primary);
    width: 100vw;
    align-items: center;
}

.ulTitle{
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  color: var(--mat-sys-on-secondary);
}

li{
  font-size: medium;
  margin-left: 15px;
  font-weight: normal;
  padding: 5px;
}

a{
  text-decoration: none;
  padding: 5px;
  color: var(--mat-sys-on-secondary);
}

a:hover{
  text-decoration: none;
  color: var(--mat-sys-tertiary);
  background-color: var(--mat-sys-on-tertiary);
  border-radius: 5px;
  padding: 5px;
}

.mat-mdc-button:not(:disabled){
    background-color: var(--background-color);
    color: var(--mat-sys-primary);
    font-size: 1rem;

}

.mat-mdc-button:hover{
    background-color: var(--mat-sys-primary);
    color: var(--background-color);

}
