.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

h1{
  font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--background-color);
  margin-left: 1rem;
}

h1:hover{
  cursor: pointer;
}

