<div class="searchBarContainer">
<h3> {{ searchConfig.title }} </h3>
    <mat-form-field>
        <mat-label>{{ searchConfig.placeholder }}</mat-label>
        <input type="text"
               matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto">
        <mat-icon class="clearSearch" matIconSuffix *ngIf="searchControl.value" (click)="clearSearch()">close</mat-icon>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let item of filteredItems$ | async" [value]="item">
                {{ displayFn(item) }}
            </mat-option>
            <mat-option *ngIf="(filteredItems$ | async)?.length === 0 && searchControl.value.length >= searchConfig.minLength!">
                No se encontraron sugerencias...
            </mat-option>
        </mat-autocomplete>

    </mat-form-field>

</div>





<!--      <span class="searchIcon">-->
<!--      <mat-icon>search</mat-icon>-->
<!--      </span>-->

<!--      <input class="searchBar" role="searchbox"-->
<!--                                        [formControl]="searchControl"-->
<!--                                        [placeholder]="searchConfig.placeholder">-->
<!--      <span class="closeIcon"-->
<!--              *ngIf="searchControl.value"-->
<!--              (click)="searchControl.reset()">-->
<!--              <mat-icon>close</mat-icon>-->
<!--      </span>-->
