
h3 {
  text-align: center;
    color: var(--mat-sys-primary);
}

.searchBarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.mat-mdc-form-field{
    width: 100%;

}

.clearSearch{
    cursor: pointer;
    color: var(--mat-sys-primary);
}


