
h3 {
  text-align: center;
    color: #b5821e;
}

.searchBarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  /*position: relative;*/
}

.mat-mdc-form-field{
    width: 100%;
}
