.printOrders{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h3{
  color: var(--mat-sys-primary);
}

.controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ordersList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
