.printOrders{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h3, h4{
  color: var(--mat-sys-primary);
}

.controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ordersList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9e6d9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  box-shadow: var(--mat-sys-level3);
}


button.genButton{
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  box-shadow: var(--mat-sys-level3);
}

.genButton:hover{
  background-color: var(--background-color);
  color: var(--mat-sys-primary);
  border: 1px solid var(--mat-sys-primary);
}

