<div class="componentWrapper">
<div class="searchBarWrapper">
<app-search-bar [searchConfig]="{
   title: 'Buscar Productos' ,
   placeholder: 'Ingrese el nombre... ',
   debounceTime: 300,
   minLength: 3 }"
[searchSuggestionFn]="getProductSuggestion"
[displayFn]="displayProductSuggestion"
(itemSelected)="onProductSelected($event)">

</app-search-bar>
</div>

  <ng-container *ngIf="errorMessage!=null">
    <p class="errorMsg">{{ errorMessage }}</p>
  </ng-container>

      <form class="updateProductForm" [formGroup]="updateProductForm">
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="text" formControlName="id" required readonly>
          </mat-form-field>

          <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="nombre" required>
          </mat-form-field>

          <mat-form-field>

              <mat-label>Categoria</mat-label>
              <mat-select id="category" placeholder="Elija una categoria" formControlName="categoria">
                  <mat-option value="BROTES">Brotes</mat-option>
                  <mat-option value="HOJAS">Hojas</mat-option>
                  <mat-option value="VERDURA">Verdura</mat-option>
                  <mat-option value="FLORES">Flores</mat-option>
              </mat-select>

          </mat-form-field>

      <mat-slide-toggle
        class="activeProduct"
        [checked] = isProductActive
        (change)="toggleProduct(updateProductForm.get('id')?.value, $event.checked)"
        [disabled]="!updateProductForm.dirty || !updateProductForm.valid">
        {{ isProductActive ? 'Desactivar Producto' : 'Activar Producto'}}

      </mat-slide-toggle>

      <div class="products-buttons">
        <button class="updateButton" mat-raised-button
                (click)="updateProduct()"
                [disabled]="!updateProductForm.dirty || !updateProductForm.valid">
          Actualizar
        </button>
        <button mat-raised-button
                (click)="deleteProduct(updateProductForm.get('id')?.value)"
                [disabled]="!updateProductForm.valid">
          Borrar
        </button>
      </div>
    </form>

</div>
