:host{
  width: 100%;

}

.searchBarWrapper{
    width: 35%;
}

.componentWrapper{
    position: relative;
    top:20dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.activitiesWrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h3 {
  color: #b5821e;
}


@media (max-width: 576px) {

    .searchBarWrapper{
        width: 60%;
    }

  .activitiesWrapper{
    flex-direction: column;
   }

}
