:host{
  width: 100%;

}

.searchBarWrapper{
    width: 35%;
    position: relative;
    top:20dvh;
}

.componentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid lightgrey;
}

@media (max-width: 576px) {

    .searchBarWrapper{
        width: 60%;
        position: relative;
        top:20dvh;
    }


}
