:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.defaultDashboardContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
