

.loginWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
    background-color: #074a09;
}

h1{
    color: whitesmoke;
}

small{
    color: #b5821e;
}

.loginContainer{
    min-width: 20%;
    background-color: var(--mat-sys-primary);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
