<div class="loginWrapper">
    <h1>{{title}} <small>{{subtitle}}</small></h1>
  <div class="loginContainer">

      <form [formGroup]="authForm">
      <mat-form-field>
    <mat-label class="loginLabel" > UserName: </mat-label>
    <input matInput class="loginInput" id="username" type="text" formControlName="username" >
    </mat-form-field>

      <mat-form-field>
    <mat-label class="loginLabel" > Passsword: </mat-label>
    <input matInput class="loginInput" id="password" type="password" formControlName="password" >
      </mat-form-field>

    <button mat-raised-button class="loginButton" type="submit">Entrar</button>
      </form>
  </div>
</div>
