.productDashWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

h2{
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: whitesmoke;
}
