<div *ngIf="clientList$ | async as clientList; else loadingOrNotClients">
    <div *ngIf="clientList && clientList.length > 0; else noClientsFound">

        <table class="client-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clientList">
                <td>{{ client.id }}</td>
                <td>{{ client.nombre }}</td>
                <td>{{ client.direccion }}</td>
                <td>{{ client.telefono }}</td>
                @if (client.activo) {
                    <td class="status-active">Activo</td>
                } @else {
                    <td class="status-inactive">Inactivo</td>
                }
            </tr>

            </tbody>
        </table>
    </div>

</div>

    <ng-template #noClientsFound>
        <p class="info-message">No se encontraron clientes en el sistema</p>
    </ng-template>
    <ng-template #loadingOrNotClients>
        <p class="loading-message">Cargando clientes. Por favor espere!</p>
    </ng-template>

