<div *ngIf="clientList$ | async as clientList; else loadingOrNotClients">
    <div *ngIf="clientList && clientList.length > 0; else noClientsFound">

        <table class="client-table">
            <thead>
            <tr>
                <th scope="col" class="hide-on-mobile">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col" class="hide-on-mobile">Telefono</th>
                <th scope="col" class="hide-on-mobile">Estado</th>
                <th scope="col" class="hide-on-desktop">Info</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let client of clientList">

                <tr (click)="toggleDetails(client)">

                <td class="hide-on-mobile">{{ client.id }}</td>
                <td>{{ client.nombre }}</td>
                <td>{{ client.direccion }}</td>
                <td class="hide-on-mobile">{{ client.telefono }}</td>
                @if (client.activo) {
                    <td class="status-active hide-on-mobile">Activo</td>
                } @else {
                    <td class="status-inactive hide-on-mobile">Inactivo</td>
                }
                <td class="hide-on-desktop"><mat-icon>{{client.isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon></td>
            </tr>

                <tr *ngIf="client.isExpanded">
                    <td colspan="4" class="detailsRow">
                        <div>
                            <p><strong>Teléfono:</strong> {{client.telefono}}</p>
                            <p><strong>Estado:</strong> {{client.activo ? 'Activo' : 'Inactivo'}}</p>
                        </div>

                    </td>

                </tr>

            </ng-container>
            </tbody>
        </table>
    </div>

</div>

    <ng-template #noClientsFound>
        <p class="info-message">No se encontraron clientes en el sistema</p>
    </ng-template>
    <ng-template #loadingOrNotClients>
        <p class="loading-message">Cargando clientes. Por favor espere!</p>
    </ng-template>

