.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.client-table th,
.client-table td {
    border: none;
    padding: 10px 15px;
    text-align: left;
}

.client-table th {
    background-color: #074a09;
    color: #b5821e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
    border-bottom: #b5821e solid 2px;
}


.client-table tr {
    color: #082302;
}

.client-table tbody tr {
    background-color: var(--mat-sys-primary);
}

.client-table tbody tr:nth-child(even) {
    background-color: #5d9f5e; /* Color de fondo para filas pares */
}

.client-table tbody tr:hover {
    background-color: lightgrey;
    color: #06420b;


}

.status-active {
    color: #06420b;
    font-weight: bold;
}

.status-inactive {
    color: #5a0909;
    font-weight: bold;
}

.error-message {
    color: #d8000c;
    background-color: #ffbaba;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.loading-message, .info-message {
    text-align: center;
    color: #b5821e;
    padding: 20px;
    font-style: italic;
    background-color: var(--mat-sys-primary);
    border-radius: 15px;
}
