.productionSheetWrapper{
    width: 100%;
}

.productionSheet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

div.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.genButton{
    background-color: #5d9f5e;
    color: whitesmoke;
}


.productionSheetTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.productionSheetTable th,
.productionSheetTable td{
    border: none;
    padding: 5px 10px;
    text-align: center;

}

.productionSheetTable th {
    background-color: #074a09;
    color: #b5821e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.productionSheetTable thead>tr>th.categoryHeader {
    font-weight: bold;
    background-color: #074a09;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    border-radius: 15px 15px 0 0;

}

.productionSheetTable td.totals{
    background-color: #5d9f5e;
    color: whitesmoke;
    text-align: center;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}

.loading-message {
    text-align: center;
    color: #b5821e;
    padding: 20px;
    font-style: italic;
}


