.productionSheetWrapper{
    width: 100%;
}

.productionSheet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.productionSheet h3{
    color: var(--mat-sys-primary);
}

div.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button.genButton{
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    box-shadow: var(--mat-sys-level3);
}

.genButton:hover{
    background-color: var(--background-color);
    color: var(--mat-sys-primary);
    border: 1px solid var(--mat-sys-primary);
}

div.copyButtonWrapper{
    margin-top: 20px;
}

div.copyButtonWrapper button{
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    box-shadow: var(--mat-sys-level3);
}

div.copyButtonWrapper button:hover{
    background-color: var(--background-color);
    color: var(--mat-sys-primary);
    border: 1px solid var(--mat-sys-primary);
}

.dataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.productionSheetTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.productionSheetTable th,
.productionSheetTable td{
    border: none;
    padding: 5px 10px;
    text-align: center;

}

.productionSheetTable th {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

.productionSheetTable thead>tr>th.categoryHeader {
    font-weight: bold;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    padding: 5px;
    text-align: center;
    border-radius: 15px 15px 0 0;

}

.productionSheetTable td.totals{
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    text-align: center;
    border-radius: 0 0 15px 15px;
    font-weight: bold;
}

.loadingSpinner{
    margin-top: 70px;
}

.loading-message {
    text-align: center;
    color: var(--mat-sys-primary);
    padding: 20px;
    font-style: italic;
}


@media (max-width: 576px){

    .productionSheet {
        flex-direction: column;
    }
}
