:host{
  width: 100%;
}

.searchBarWrapper{
    width: 35%;

}

.componentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10dvh;
}

.formWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.errorContainer{
  text-align: center;
  background-color: var(--mat-sys-error);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.errorMsg{
  color: white
}

.updateClientForm{
    width: 35%;
    background-color: var(--mat-sys-primary);
    padding-top: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.updateClientForm mat-form-field{
    width: 75%;
}

.formError{
    color: var(--mat-sys-on-primary);
}

.formError p {
    position: relative;
    bottom:30px;
}

.activeClient{
    margin-top: 20px;
}

.client-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.updateButton {
    margin-right: 10px;
}


@media (max-width: 576px){

    .searchBarWrapper{
        width: 80%;

    }

    .updateClientForm {
        width: 80%;
    }


}
