<div class="componentWrapper">

<div class="searchBarWrapper">
<app-search-bar [searchConfig]="{
   title: 'Buscar Clientes' ,
   placeholder: 'Ingrese el nombre',
   debounceTime: 300,
   minLength: 3 }"
[searchSuggestionFn]="getClientSuggestion"
[displayFn]="displayClientSuggestion"
(itemSelected)="onClientSelected($event)">

</app-search-bar>
</div>

  <ng-container class="errorContainer" *ngIf="errorMessage!=null">
    <p class="errorMsg">{{ errorMessage }}</p>
  </ng-container>


  <form class="updateClientForm" [formGroup]="updateClientForm">

       <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput id="id" type="text" formControlName="id" required readonly>
       </mat-form-field>

      <mat-form-field>
        <mat-label class="headFormLabel">Nombre</mat-label>
        <input matInput id="nombre" type="text" formControlName="nombre" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput id="address" type="text" formControlName="direccion" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput id="phone" type="text" formControlName="telefono" required>
          <mat-error class="formError" *ngIf="updateClientForm.controls['telefono'].invalid && updateClientForm.dirty">
              <p>El número de teléfono debe tener entre 10 y 11 dígitos.</p>
          </mat-error>
      </mat-form-field>

      <mat-slide-toggle
          class="activeClient"
          [checked] = isClientActive
          [disabled]="!updateClientForm.valid"
          (change)="toggleClient(updateClientForm.get('id')?.value, $event.checked)">
          {{ isClientActive ? 'Desactivar Cliente'  : 'Activar Cliente'}}

      </mat-slide-toggle>

    <div class="client-buttons">
        <button class="updateButton" mat-raised-button
                (click)="updateClient()"
                [disabled]="!updateClientForm.dirty || !updateClientForm.valid">
          Actualizar
        </button>
      <button class="deleteButton" mat-raised-button
        (click)="deleteClient(updateClientForm.get('id')?.value)"
        [disabled]="!updateClientForm.valid">
        Borrar
      </button>
    </div>
  </form>

</div>
