
<form class="clientForm" [formGroup]="createClientForm">
  <p class="formTitle">{{ formTitle }}</p>

  <label class="clientLabel" for="name"> Nombre </label>
  <input class="clientInput" id="name" type="text" formControlName="name" required>

  <label class="clientLabel" for="adress"> Direccion  </label>
  <input class="clientInput" id="adress" type="text" formControlName="adress" required>

  <label class="clientLabel" for="phone"> Telefono </label>
  <input class="clientInput" id="phone" type="text" formControlName="phone" required>

  <button class="formButton" mat-raised-button type="submit"
          (click)="createClient()"
          [disabled]="createClientForm.invalid">Crear</button>

</form>
