
.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th,
.order-table td {
    border: none;
    padding: 10px 15px;
    text-align: center;

}

.order-table th {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
}

.order-table th:nth-child(1) {
    border-radius: 10px 0 0 0 ;
}

.order-table th:last-child {
    border-radius: 0 10px 0 0 ;
}

.order-table tbody {
    border-top: var(--mat-sys-primary) solid 3px;
}


.order-table tbody tr {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--mat-sys-primary);
}
/* Filas pares*/
.order-table tbody tr:nth-child(even) {
    background-color: var(--background-color);
}

.editButton{
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
}

.order-table tbody tr:hover {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}

.order-table tbody tr:hover td button.editButton{
    background-color: var(--background-color);
    color: var(--mat-sys-primary);
    }

.order-table tbody tr:hover td button.editButton mat-icon.edit{
    color: var(--mat-sys-primary);
}

.order-table tbody tr:hover td mat-icon.info{
    color: var(--background-color);
}

mat-icon.info{
    color: var(--mat-sys-primary);
    cursor: pointer;
}


.status-active {
    color: #06420b;
    font-weight: bold;
}

.status-inactive {
    color: #5a0909;
    font-weight: bold;
}

.error-message {
    color: #d8000c;
    background-color: #ffbaba;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.loading-message, .info-message {
    text-align: center;
    color: var(--mat-sys-primary);
    padding: 20px;
    font-style: italic;
    background-color: var(--background-color);
    border-radius: 15px;
}

.hide-on-desktop{
    display: none;
}

@media (max-width: 576px){
    .hide-on-mobile{
        display: none;
    }

    .hide-on-desktop{
        display: block;
    }
    .order-table tbody tr {
        cursor: pointer;
    }

    .detailsRow {
        background-color: lightgrey;
        cursor: default;
    }

    .detailsRow p {
        color: var(--mat-sys-primary);
    }

    .order-table tbody tr.detailsRow:hover {
        background-color: lightgrey;

    }

    .order-table tbody tr:hover td button.editButton{
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
    }

    .order-table tbody tr:hover td button.editButton mat-icon.edit{
        color: var(--mat-sys-on-primary);
    }
}
