@if (orderList(); as orders) {

  <div class="list-header">
    <h2>Pedidos {{ showRecurrent()? "Fijos" : "Semanales" }}</h2>
    <mat-slide-toggle
      [checked]="showRecurrent()"
      (change)="toggleRecurrents()"> Mostar Fijos </mat-slide-toggle>  </div>

    @if(orders.length > 0){

        <table class="order-table" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col" [class.hide]="showRecurrent()" class="hide-on-mobile">Fecha</th>
                <th scope="col" mat-sort-header="diaEntrega">Dia de Entrega</th>
                <th scope="col" class="hide-on-mobile">Items</th>
                <th scope="col" class="hide-on-desktop">Info</th>
                <th scope="col" colspan="2" class="hide-on-mobile">Opciones</th>

            </tr>
            </thead>
            <tbody>

                @for (order of orders; track order.idPedido){

                    <tr (click)="toggleDetails(order)" [class.expanded]="order.isExpanded">
                        <td>{{ order.nombreCliente}}</td>

                        <td [class.hide]="showRecurrent()" class="hide-on-mobile">{{ order.fecha | date:'dd-MM-yyyy' }}</td>

                        <td>{{ order.diaDeEntrega }}</td>
                        <td class="hide-on-mobile">
                            @if (order.item && order.item.length > 0) {
                                <span>
                            {{ order.item.length}} item{{ order.item.length !==1 ? 's' : '' }}
                                    <mat-icon class="info" (click)="showItems(order.item)">info_outline</mat-icon>
                            </span>

                            }@else {
                                Sin items
                            }

                        </td>

                      <td class="hide-on-mobile">
                          <a [routerLink]="['/dashboard/pedidos/actualizar', order.idPedido, {isRecurrent : showRecurrent()}]">
                            <button class="editButton" mat-button><mat-icon class="edit">edit</mat-icon>Editar</button>
                          </a>
                        </td>

                      <td class="hide-on-mobile">
                        <button class="editButton" mat-button (click)="handleDeleteOrder(order.idPedido)"><mat-icon class="edit">delete</mat-icon>Borrar</button>
                      </td>

                      <td class="hide-on-desktop">
                        <mat-icon>{{order.isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                      </td>

                    </tr>

                    @if (order.isExpanded){
                    <tr>
                        <td colspan="4" class="detailsRow">
                            <div>
                                <p [class.hide]="showRecurrent()"><strong>Fecha: </strong> {{order.fecha | date:'dd-MM-yyyy'}}</p>
                                <p><strong>Items:</strong></p>
                                @for (item of order.item; track item.id) {
                                    <p>{{item.nombreProducto}} - {{item.cantidad}}</p>
                                }
                                <span><a [routerLink]="['/dashboard/pedidos/actualizar', order.idPedido, {isRecurrent : showRecurrent()}]"><button class="editButton" mat-button><mat-icon class="edit">edit</mat-icon>Editar</button></a></span>
                                <span><button class="editButton" mat-button (click)="handleDeleteOrder(order.idPedido)"><mat-icon class="edit">delete</mat-icon>Borrar</button></span>

                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <mat-paginator [pageSize]="10" [length]="totalItems" [pageIndex]="currentPage" (page)="onChangePage($event)"></mat-paginator>


    } @else {
        <p class="info-message">No se encontraron pedidos en el Sistema</p>
    }

} @else {
    <p class="loading-message">Cargando Pedidos Por favor espere!</p>

}


