<div *ngIf="orderList$ | async as orderList; else loadingOrNotOrders">

    <div *ngIf="orderList && orderList.length > 0; else noOrderFound">

        <table class="order-table">
            <thead>
            <tr>
                <th scope="col">Nombre Cliente</th>
                <th scope="col" class="hide-on-mobile">Fecha</th>
                <th scope="col">Dia de Entrega</th>
                <th scope="col" class="hide-on-mobile">Precio Total</th>
                <th scope="col" class="hide-on-mobile">Items</th>
                <th scope="col">Info</th>

            </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let order of orderList">
            <tr (click)="toggleDetails(order)" [class.expanded]="order.isExpanded">
                <td>{{ order.nombreCliente}}</td>
                <td class="hide-on-mobile">{{ order.fecha.split("T", 1) }}</td>
                <td>{{ order.diaDeEntrega }}</td>
                <td class="hide-on-mobile">{{ order.precioTotal }}</td>
                <td class="hide-on-mobile">
                    <ng-container *ngIf="order.item && order.item.length > 0">

                        <span>
                            {{ order.item.length}} item{{ order.item.length !==1 ? 's' : '' }}
                            <mat-icon class="info" (click)="showItems(order.item)">info_outline</mat-icon>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="!order.item || order.item.length === 0">
                        Sin items
                    </ng-container>
                </td>
                <td class="hide-on-mobile"><a [routerLink]="['/dashboard/pedidos/actualizar', order.idPedido]"><button class="editButton" mat-button><mat-icon class="edit">edit</mat-icon>Editar</button></a></td>
                <td class="hide-on-desktop"><mat-icon>{{order.isExpanded ? 'expand_less' : 'expand_more' }}</mat-icon></td>
            </tr>
                <tr *ngIf="order.isExpanded">
                    <td colspan="4" class="detailsRow">
                        <div>
                            <p><strong>Fecha: </strong> {{order.fecha.split("T", 1)}}</p>
                            <p><strong>Precio Total: </strong> $ {{order.precioTotal}}</p>
                            <p><strong>Items:</strong></p>
                            <ng-container *ngFor="let item of order.item">
                            <p>{{item.nombreProducto}} - {{item.cantidad}}</p>
                            </ng-container>
                            <span><a [routerLink]="['/dashboard/pedidos/actualizar', order.idPedido]"><button class="editButton" mat-button><mat-icon class="edit">edit</mat-icon>Editar</button></a></span>
                        </div>
                    </td>

                </tr>

            </ng-container>
            </tbody>
        </table>
        <mat-paginator [pageSize]="10" [length]="totalItems" [pageIndex]="currentPage" (page)="onChangePage($event)"></mat-paginator>

    </div>

</div>
    <ng-template #noOrderFound>
        <p class="info-message">No se encontraron pedidos en el Sistema</p>
    </ng-template>

<ng-template #loadingOrNotOrders>
    <p class="loading-message">Cargando Pedidos Por favor espere!</p>
</ng-template>
