
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
@use './app_theme-colors' as custom-colors;

:root{
    @include mat.progress-spinner-overrides((
        active-indicator-color: orange,
    ))
}



html {
  @include mat.theme((
    color: (
      theme-type: light,
        primary: custom-colors.$primary-palette,
        tertiary: custom-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
