
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
@use './app_theme-colors' as custom-colors;

:root{
    @include mat.progress-spinner-overrides((
        active-indicator-color: #468539,
    ));

    @include mat.paginator-overrides((
        container-text-color: rgb(32, 31, 31),
        container-background-color: #defbd7,
    ));

    @include mat.sort-overrides((
       arrow-color: #defbd7,
    ))

}

html {
  @include mat.theme((
    color: (
      theme-type: light,
        primary: custom-colors.$primary-palette,
        tertiary: custom-colors.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
