/* You can add global styles to this file, and also import other style files */
:root{
    --mat-sidenav-container-width: 200px;

}


html {
  font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--mat-sys-primary);
  height: 100%;
}

body {
  height: 90dvh;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
