/* You can add global styles to this file, and also import other style files */
:root{
    --mat-sidenav-container-width: 200px;
    --background-color: #defbd7

}


html {
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--mat-sys-background);
    height: 100%;

}

body {
    height: 100dvh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.errorSnackBar{
    --mdc-snackbar-container-color: #c11414;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.infoSnackBar{
    --mdc-snackbar-container-color: #5d9f5e;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.hide{
  display: none;
}
